@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;600&display=swap');

* {
  font-family: 'Montserrat', sans-serif;
}

body {
  background-color: rgb(190, 190, 190);
}

.secondary {
  background-color: rgb(207, 207, 207);
  width: 70%;
  margin: 0 auto;
  margin-top: 1rem;
}

.tertiary {
  background-color: rgb(228, 228, 228);
}

.title {
  font-weight: 600;
  font-size: 2rem;
  background-color: rgb(207, 207, 207);
  border-radius: 5px;
  border-top: 1px solid black;
  border-left: 1px solid black;
  border-bottom-left-radius: 0;
  min-width: 20rem;
  position: relative;
  margin-left: -0.81rem;
}

.title:after {
  content: '';
  height: 50%;
  width: 1px;

  position: absolute;
  right: 0;
  top: 0;

  background-color: #000;
}

.subtitle {
  font-weight: 300;
  font-size: 1.2rem;
  background-color: rgb(228, 228, 228);
  border-radius: 5px;
  border-top: 1px solid black;
  border-left: 1px solid black;
  border-bottom-left-radius: 0;
  position: relative;
  margin-left: -0.81rem;
  padding-inline: .5rem;
  padding-top: .2rem;
}

.subtitle:after {
  content: '';
  height: 50%;
  width: 1px;

  position: absolute;
  right: 0;
  top: 0;

  background-color: #000;
}

fieldset {
  border-radius: 5px;
  border: 1px solid black;
  margin-top: 1rem;
}

select {
  cursor: pointer;
}

input {
  padding: .25rem;
  border-radius: 5px;
  border: 1px solid black;
  background-color: white
}